/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */
h1, h2, legend {
  color: #333;
  margin-bottom: 0.5rem;
}

input, button {
  font-size: 1rem;
  padding: 0.4rem;
  margin: 0.3rem 0;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

button {
  background-color: var(--link-color);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0090d1;
}


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */
.header {
  background-color: #e0f4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--border-color);
}
.header__image { width: 40px; height: 40px; }
.header__title { flex: 1; text-align: center; font-size: 1.8rem; }
.header__navigation a { text-decoration: none; margin-left: 0.5rem; }

.header__image {
  width: 40px;
  height: 40px;
}

.header__title {
  flex: 1;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
}

.header__navigation a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: var(--link-color);
  font-weight: bold;
}



/* ### TODO ### Styles for Main Component */

/* ... your code here ... */


/* ### TODO ### Styles for Tagging component */

/* ... your code here ... */


/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */


/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */


/* ### TODO ### Media Queries */

/* ... your code here ... */