/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */
h1, h2, legend {
  color: #333;
  margin: 0.6rem 1rem;
}

input, button {
  display: block;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 0.6rem 1rem;
  width: 10rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

button {
  background-color: var(--link-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0090d1;
}*/


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */
.header {
  background-color: #cdc4c4; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--border-color);
}

.header__image {
  width: 45px;
  height: 45px;
}

.header__title {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

.header__navigation a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}



/* ### TODO ### Styles for Main Component */

/* ... your code here ... */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1.5rem; 
  padding: 2rem;
  background-color: var(--background-color);
}

.main__tagging {
  flex: 1 1 30%;
  background-color: white;
  padding: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  min-width: 280px;
}

.main__discovery {
  flex: 1 1 65%;
  background-color: white;
  padding: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  min-width: 320px;
}


/* ### TODO ### Styles for Tagging component */

/* ... your code here ... */
.tagging label {
  display: block;
  margin: 0.6rem 1rem;
}



/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */
.discovery label {
  display: block;
  margin: 0.6rem 1rem;
}

.discovery__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.discovery__taglist {
  flex: 1 1 40%;
}

.discovery__results li {
  list-style: none;
  background-color: #e6f7ff;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 0.4rem 0;
  width: 14rem;
  border: 1px solid #bde0f6;
  border-radius: 5px;
}

.discovery__map {
  flex: 1 1 55%;
  text-align: center;
}

.discovery__map img {
  width: 100%;
}


/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */
.footer {
  background-color: #cdc4c4;
  text-align: center;
  padding: 1rem;
  color: #555;
  font-size: 0.9rem;
}


/* ### TODO ### Media Queries */

/* ... your code here ... */
@media (max-width: 850px) {
  .main {
    flex-direction: column;
  }

  .discovery__wrapper {
    flex-direction: column;
  }

  .main__tagging,
  .main__discovery,
  .discovery__taglist,
  .discovery__map {
    width: 100%;
  }
}