/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

label{
  display: block;
  margin-bottom: 5px;
}

input{
  display:block;
  width: 200px;
  padding: 7px;
  margin-bottom: 15px;
  background-color: var(--background-color);
  border-width: 1px;
  border-color: var(--gray-color);
}

#submit_tag{
  margin-bottom: 0px;
  width: 200px;
}

/*trso1014*/
input[type="submit"]:hover {
  background-color: var(--border-color);
  cursor: pointer; 
}

fieldset{
  padding: 20px;
  margin-top: 10px;
}

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

header{
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 30px;
  align-items: center;
}

/* ruse1011 */
.header__image  {
      width: 50px;
}

/* ### TODO ### Styles for Main Component */

main{
  padding: 30px;
}


/* ### TODO ### Styles for Tagging component */
/*trso1014*/
.tagging {
  gap: 1rem;
  background-color: white;
  padding: 20px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

.tagging h2 {
  margin-bottom: 10px;
  color: var(--gray-color);
}



/* ### TODO ### Styles for Discovery component */

/*trso1014*/
.discovery {
  gap: 1rem;
  background-color: white;
  padding: 20px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

.discovery__wrapper {
  gap: 1rem;
  flex-wrap: wrap;
}

/* ruse1011 */
li {
  color: var(--link-color);
  justify-content: space-around;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 2%;
  margin: 2% 0%;
  list-style: none;
}

/* ### TODO ### Styles for Footer Component */

footer{
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 30px;
  align-items: center;
}

/*trso1014*/
.discovery__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ruse1011 */
.discovery__map img {
    max-width: 300px;
    max-height: auto;
}

/* ### TODO ### Media Queries */

/* ... your code here ... */

/* ruse1011 */
@media screen and (max-width: 950px) {
    .row,
    .discovery__wrapper {
        flex-direction: column;
    }
    .col-4,
    .col-8 {
      width: 100%;
      margin-bottom: 2%;
    }
}